body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#login-area {
    
}

    #login-area #login-area-header {
        margin-left:auto;
        margin-right:auto;

        text-align:center;
    }

    #login-area #login-area-box {
        margin-left:auto;
        margin-right:auto;
        width:250px;
    
        border-width:2px;
        border-color:#e5e2e2;
        border-radius:5px;
        border-style:solid;
    
        padding:10px;
    }
    
        #login-area #login-area-box .login-area-box-section {
            padding-top:3px;
            padding-bottom:3px;
        }

            #login-area #login-area-box .login-area-box-section .btn {
                width:111px;
            }
        
            #login-area #login-area-box .login-area-box-section #login-role {
                width:225px;
                border-radius:4px;
            }

.tool-area {

}

    .tool-area .tool-nav {
        padding-top:10px;
    }

    .tool-area .tool-content {
        padding-top:10px;
    }