<!--navigation sub-tabs-->
<ul class="nav nav-pills tool-sub-nav">
    <li role="presentation" class="active">
        <a href="#add-admin" aria-controls="add-admin" role="tab" data-toggle="tab">add admin</a>
    </li>
    <li role="presentation">
        <a href="#update-admin" aria-controls="update-admin" role="tab" data-toggle="tab">update admin</a>
    </li>
    <li role="presentation">
        <a href="#delete-admin" aria-controls="delete-admin" role="tab" data-toggle="tab">delete admin</a>
    </li>
    <li role="presentation">
        <a href="#get-admin" aria-controls="get-admin" role="tab" data-toggle="tab">get admin</a>
    </li>
</ul>

<!--sub-tab panes-->
<div class="tab-content tool-sub-content">

    <!--add member tab-->
    <div role="tabpanel" class="tab-pane active" id="add-admin">
        @Html.Partial("Tools/_AddAdmin")
    </div>

    <!--update member tab-->
    <div role="tabpanel" class="tab-pane" id="update-admin">
        @Html.Partial("Tools/_UpdateAdmin")
    </div>

    <!--delete member tab-->
    <div role="tabpanel" class="tab-pane" id="delete-admin">
        @Html.Partial("Tools/_DeleteAdmin")
    </div>

    <div role="tabpanel" class="tab-pane" id="get-admin">
        @Html.Partial("Tools/_GetAdmin")
    </div>

</div>