
<!--navigation sub-tabs-->
<ul class="nav nav-pills tool-sub-nav">
    <li role="presentation" class="active">
        <a href="#add-member" aria-controls="add-member" role="tab" data-toggle="tab">add member</a>
    </li>
    <li role="presentation">
        <a href="#update-member" aria-controls="update-member" role="tab" data-toggle="tab">update member</a>
    </li>
    <li role="presentation">
        <a href="#delete-member" aria-controls="delete-member" role="tab" data-toggle="tab">delete member</a>
    </li>
    <li role="presentation">
        <a href="#get-member" aria-controls="get-member" role="tab" data-toggle="tab">get member</a>
    </li>
</ul>

<!--sub-tab panes-->
<div class="tab-content tool-sub-content">
    
    <!--add member tab-->
    <div role="tabpanel" class="tab-pane active" id="add-member">
        @Html.Partial("Tools/_AddMember")
    </div>

    <!--update member tab-->
    <div role="tabpanel" class="tab-pane" id="update-member">
        @Html.Partial("Tools/_UpdateMember")
    </div>

    <!--delete member tab-->
    <div role="tabpanel" class="tab-pane" id="delete-member">
        @Html.Partial("Tools/_DeleteMember")
    </div>

    <!--get member tab-->
    <div role="tabpanel" class="tab-pane" id="get-member">
        @Html.Partial("Tools/_GetMember")
    </div>

</div>