<!--navigation sub-tabs-->
<ul class="nav nav-pills tool-sub-nav">
    <li role="presentation" class="active">
        <a href="#add-provider" aria-controls="add-provider" role="tab" data-toggle="tab">add provider</a>
    </li>
    <li role="presentation">
        <a href="#update-provider" aria-controls="update-provider" role="tab" data-toggle="tab">update provider</a>
    </li>
    <li role="presentation">
        <a href="#delete-provider" aria-controls="delete-provider" role="tab" data-toggle="tab">delete provider</a>
    </li>
    <li role="presentation">
        <a href="#get-provider" aria-controls="get-provider" role="tab" data-toggle="tab">get provider</a>
    </li>
</ul>

<!--sub-tab panes-->
<div class="tab-content tool-sub-content">

    <!--add provider tab-->
    <div role="tabpanel" class="tab-pane active" id="add-provider">
        @Html.Partial("Tools/_AddProvider")
    </div>

    <!--add provider tab-->
    <div role="tabpanel" class="tab-pane" id="update-provider">
        @Html.Partial("Tools/_UpdateProvider")
    </div>

    <!--add provider tab-->
    <div role="tabpanel" class="tab-pane" id="delete-provider">
        @Html.Partial("Tools/_DeleteProvider")
    </div>

    <!--add provider tab-->
    <div role="tabpanel" class="tab-pane" id="get-provider">
        @Html.Partial("Tools/_GetProvider")
    </div>
</div>