<div class="tool-form-content-loader">
    <div id="EFTReport-loader" class="progress active progress-striped tool-form-progress visibility-hidden">
        <div class="progress-bar progress-bar-success active"
             role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
             style="width:100%;"></div>
    </div>
</div>

<div class="tool-form-header">
    <!--alerts-->
    <div class="tool-form-alerts">
        <!--success-->
        <div class="alert alert-success display-none" role="alert" id="eft-report-success">
            <strong>success!</strong> member has been added.
        </div>

        <!--error-->
        <div class="alert alert-danger display-none" role="alert" id="eft-report-error">
            <strong>error!</strong> please try again.
        </div>
    </div>
</div>

<div class="tool-form-header">
    <div class="tool-form-header-title">
        <h4><a href="http://localhost:49890/api/reportmanager/reports/geteftreport">Get EFTReport</a></h4>
        <form role="form" class="tool-form" id="get-eft-report">
            <button class="btn btn-primary" id="get-eft-report-submit">Get EFTReport</button>
        </form>
    </div>
    <div id="EFT-Report-Id">

    </div>
</div>