<div class="tool-form-header">
    <div class="tool-form-header-title">
        <h4><a href="http://localhost:49890/api/reportmanager/reports/geteftreport">Get EFTReport</a></h4>
    </div>
    <div id="EFT-Report-Id">

    </div>
</div>