
<div class="tool-form-content-loader">
    <div id="report-loader" class="progress active progress-striped tool-form-progress visibility-hidden">
        <div class="progress-bar progress-bar-success active"
             role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
             style="width:100%;"></div>
    </div>
</div>

<div class="tool-form-header">

    <div class="tool-form-alerts">

        <div class="alert alert-success display-none" role="alert" id="report-success">
            <strong>success!</strong> member has been added.
        </div>


        <div class="alert alert-danger display-none" role="alert" id="report-error">
            <strong>error!</strong> please try again.
        </div>
    </div>
</div>

<div class="tool-form-header">
    <div class="tool-form-header-title">
        <form role="form" class="tool-form" id="get-report">
            <button class="btn btn-primary" id="get-eft-report-submit">Get EFTReport</button>
        </form>
        <br/>
        <br />
        <form role="form" class="tool-form" id="get-member-report">
            <div class="input-group tool-form-content-input">
                <span class="input-group-addon" style="width:80px;">Please input a member ID:</span>
                <input type="text" class="form-control" id="member-id" placeholder="" style="width:108px;max-width:200px;">
                <button class="btn btn-primary" id="get-one-member-submit">Get Member Report</button>
            </div>
        </form>
        <br />
        <br />
        <form role="form" class="tool-form" id="get-provider-report">
            <div class="input-group tool-form-content-input">
                <span class="input-group-addon" style="width:80px;">Please input a provider ID:</span>
                <input type="text" class="form-control" id="member-id" placeholder="" style="width:108px;max-width:200px;">
                <button class="btn btn-primary" id="get-one-provider-submit">Get Provider Repsort</button>
            </div>
        </form>
    </div>
    <div id="Report-Id">

    </div>
</div>