<!--navigation sub-tabs-->
<ul class="nav nav-pills tool-sub-nav">
    <li role="presentation" class="active">
        <a href="#add-member" aria-controls="update-schedule" role="tab" data-toggle="tab">update schedule</a>
    </li>
</ul>

<!--sub-tab panes-->
<div class="tab-content tool-sub-content">

    <!--add member tab-->
    <div role="tabpanel" class="tab-pane active" id ="update-schedule">
        @Html.Partial("Tools/_UpdateSchedule")
    </div>

</div>