<!--navigation sub-tabs-->
<ul class="nav nav-pills tool-sub-nav">
    <li role="presentation" class="active">
        <a href="#verify-services provided" aria-controls="verify-services provided" role="tab" data-toggle="tab">Verify services provided</a>
    </li>
   
</ul>

<!--sub-tab panes-->
<div class="tab-content tool-sub-content">

    <!--verity services provided tab-->
    <div role="tabpanel" class="tab-pane active" id="verify-services provided" >
        @Html.Partial("Tools/_VerifyReport")
    </div>

</div>