

<form role="form" class="tool-form" id="tool-delete-service">

    <div class="tool-form-header">
        <div class="tool-form-header-title">
            <h4><strong>DELETE SERVICE</strong></h4>
        </div>
        <div class="tool-form-header-desc">
            delete an existing service. please provide service ID.
        </div>
    </div>

    <div class="tool-form-content">

        <!--alerts-->
        <div class="tool-form-alerts">
            <!--success-->
            <div class="alert alert-success display-none" role="alert" id="delete-service-success">
                <strong>success!</strong> service has been deleted.
            </div>

            <!--error-->
            <div class="alert alert-danger display-none" role="alert" id="delete-service-error">
                <strong>error!</strong> please try again.
            </div>
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">code</span>
            <input type="text" class="form-control" id="delete-service-code" placeholder="" style="width:418px;max-width:500px;">
        </div>

        <div class="tool-form-content-buttons tool-form-content-input text-right">
            <button class="btn btn-danger" id="delete-service-reset">reset</button>
            <button class="btn btn-primary" id="delete-service-submit">submit</button>
        </div>

    </div>

</form>

<script type="text/javascript">

</script>