<form role="form" class="tool-form" id="tool-update-manager">

    <div class="tool-form-header">
        <div class="tool-form-header-title">
            <h4><strong>UPDATE MANAGER</strong></h4>
        </div>
        <div class="tool-form-header-desc">
            update an existing manager. please provide all of the information.
        </div>
    </div>

    <div class="tool-form-content">

        <!--alerts-->
        <div class="tool-form-alerts">
            <!--success-->
            <div class="alert alert-success display-none" role="alert" id="update-manager-success">
                <strong>success!</strong> manager has been updated.
            </div>

            <!--error-->
            <div class="alert alert-danger display-none" role="alert" id="update-manager-error">
                <strong>error!</strong> please try again.
            </div>
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">ID</span>
            <input type="text" class="form-control" id="update-manager-id" placeholder="" style="width:418px;max-width:500px;">
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">name</span>
            <input type="text" class="form-control" id="update-manager-name" placeholder="" style="width:418px;max-width:500px;">
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">address</span>
            <input type="text" class="form-control" id="update-manager-address" placeholder="" style="width:418px;max-width:500px;">
        </div>

        <div class="row">

            <div class="input-group tool-form-content-input col-md-5 pad-right-5">
                <span class="input-group-addon">city</span>
                <input type="text" class="form-control" id="update-manager-city" placeholder="">
            </div>

            <div class="input-group tool-form-content-input col-md-3 pad-left-5 pad-right-5">
                <span class="input-group-addon">state</span>
                <input type="text" class="form-control" id="update-manager-state" placeholder="">
            </div>

            <div class="input-group tool-form-content-input col-md-4 pad-left-5">
                <span class="input-group-addon">zip</span>
                <input type="text" class="form-control" id="update-manager-zip" placeholder="">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 tool-form-content-input">
                <div class="input-group">
                    <span class="input-group-addon" style="width:80px;">status</span>
                    <select class="form-control" id="update-manager-status">
                        <option value="0" selected="selected">valid</option>
                        <option value="1">invalid</option>
                        <option value="2">suspended</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 tool-form-content-buttons text-right">
                <button class="btn btn-danger" id="update-manager-reset">reset</button>
                <button class="btn btn-primary" id="update-manager-submit">submit</button>
            </div>

        </div>

    </div>

</form>

<script type="text/javascript">

</script>
