
<form role="form" class="tool-form" id="tool-verify-services provided">

    <div class="tool-form-content-loader">
        <div id="verify-report-loader" class="progress active progress-striped tool-form-progress visibility-hidden">
            <div class="progress-bar progress-bar-success active" 
                role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width:100%;"></div>
        </div>
    </div>

    <div class="tool-form-header">
        <div class="tool-form-header-title">
            <h4><strong>VERIFY SERVICES PROVIDED</strong></h4>
        </div>
        <div class="tool-form-header-desc">
            Verify service provided. please verify the service and fee.
        </div>
    </div>

    <div class="tool-form-content">

        <!--alerts-->
        <div class="tool-form-alerts">
            <!--success-->
            <div class="alert alert-success display-none" role="alert" id="verify-services-success">
                <strong>success!</strong> services has been verified.
            </div>

            <!--error-->
            <div class="alert alert-danger display-none" role="alert" id="verify-services-error">
                <strong>error!</strong> please try verify services again.
            </div>
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">Services Confirmation:</span>
            <div class="tool-form-content-buttons text-right">
                <button class="btn btn-danger" id="verification-deny">Deny</button>
                <button class="btn btn-primary" id="verification-confirm">Confirm</button>
            </div>
        </div>

        <div class="input-group tool-form-content-input">
            <span class="input-group-addon" style="width:80px;">ServiceFee Confirmation:</span>
            <div class="tool-form-content-buttons text-right">
                <button class="btn btn-danger" id="verification-deny">Deny</button>
                <button class="btn btn-primary" id="verification-confirm">Confirm</button>
            </div>
        </div>

    </div>

</form>

<script type="text/javascript">

</script>