
<form role="form" class="tool-form" id="tool-verify-services provided">

    <div class="tool-form-content-loader">
        <div id="verify-report-loader" class="progress active progress-striped tool-form-progress visibility-hidden">
            <div class="progress-bar progress-bar-success active" 
                role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width:100%;"></div>
        </div>
    </div>

    <div class="tool-form-content-larger">

        <!--alerts-->
        <div class="tool-form-alerts">
            <!--success-->
            <div class="alert alert-success display-none" role="alert" id="verify-services-success">
                <strong>success!</strong> services has been verified.
            </div>
            <div class="alert alert-success display-none" role="alert" id="verify-fee-success">
                <strong>success!</strong> fees has been verified.
            </div>

            <!--error-->
            <div class="alert alert-danger display-none" role="alert" id="verify-services-error">
                <strong>error!</strong> <span id="verify-services-error-message"></span> &nbsp;please try verify services again.
            </div>
            <div class="alert alert-danger display-none" role="alert" id="verify-fee-error">
                <strong>error!</strong> <span id="verify-fee-error-message"></span> &nbsp;please try verify fees again.
            </div>
        </div>

        <!--verify fee start-->
        <div class="tool-form-content-input">
            <h4><strong>verify fee</strong></h4>
        </div>
        <div class="row">
            
            <div class="input-group col-md-4 tool-form-content-input pad-right-5">
                <span class="input-group-addon">start date</span>
                <input type="text" class="form-control" id="verify-fee-start-date" placeholder="">
            </div>

            <div class="input-group col-md-4 tool-form-content-input pad-left-5 pad-right-5">
                <span class="input-group-addon">end date</span>
                <input type="text" class="form-control" id="verify-fee-end-date" placeholder="">
            </div>

            <div class="col-md-4 tool-form-content-buttons text-right pad-left-5">
                <button class="btn btn-danger"  id="verify-fee-reset" >reset</button>
                <button class="btn btn-primary" id="verify-fee-submit">submit</button>
            </div>
        </div>
        <!--verify fee end-->

        <!--verify service start-->
        <div class="tool-form-content-input">
            <h4><strong>verify service</strong></h4>
        </div>
        <div class="row">

            <div class="input-group col-md-4 tool-form-content-input pad-right-5">
                <span class="input-group-addon">start date</span>
                <input type="text" class="form-control" id="verify-service-start-date" placeholder="">
            </div>

            <div class="input-group col-md-4 tool-form-content-input pad-left-5 pad-right-5">
                <span class="input-group-addon">end date</span>
                <input type="text" class="form-control" id="verify-service-end-date" placeholder="">
            </div>

            <div class="col-md-4 tool-form-content-buttons text-right pad-left-5">
                <button class="btn btn-danger" id="verify-service-reset">reset</button>
                <button class="btn btn-primary" id="verify-service-submit">submit</button>
            </div>
        </div>
        <!--verify service end-->

    </div>

</form>

<script type="text/javascript">

</script>