@{
    ViewBag.Title = "Admin";
}

<div class="tool-area">
    
    <!--navigation tabs-->
    <ul class="nav nav-tabs tool-nav">
        <li role="presentation" class="active">
            <a href="#member" aria-controls="member" role="tab" data-toggle="tab">member</a>
        </li>
        <li role="presentation">
            <a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">provider</a>
        </li>
        <li role="presentation">
            <a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">manager</a>
        </li>
        <li role="presentation">
            <a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">admin</a>
        </li>
        <li role="presentation">
            <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">schedule</a>
        </li>
        <li role="presentation">
            <a href="#report" aria-controls="report" role="tab" data-toggle="tab">report</a>
        </li>
    </ul>

    <!--tab panes-->
    <div class="tab-content tool-content">
        
        <!--member tab-->
        <div role="tabpanel" class="tab-pane active" id="member">
            member
        </div>

        <!--provider tab-->
        <div role="tabpanel" class="tab-pane" id="provider">
            provider
        </div>

        <!--manager tab-->
        <div role="tabpanel" class="tab-pane" id="manager">
            manager
        </div>

        <!--admin tab-->
        <div role="tabpanel" class="tab-pane" id="admin">
            admin
        </div>

        <!--schedule-->
        <div role="tabpanel" class="tab-pane" id="schedule">
            schedule
        </div>

        <!--report-->
        <div role="tabpanel" class="tab-pane" id="report">
            report
        </div>

    </div>

</div>

<script type="text/javascript">
    
</script>