@{
    ViewBag.Title = "Home Page";
}

<!--
<form id="LoginBox">

    <h1>Welcome to Pizza Anonymous</h1>

    <div>
        <img src="http://i.imgur.com/dBNKQ.gif" />
    </div>

    <h2>Please enter your credentials</h2>

    <div style="margin-bottom:10px">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                data-toggle="dropdown" aria-expanded="true">
                Role
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width:200px">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">admin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">manager</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">provider</a></li>
            </ul>
        </div>
        <select>
            
        </select>
    </div>

    <div style="width:200px">
        <div class="input-group">
            <span class="input-group-addon">ID</span>
            <input type="text" class="form-control" placeholder="">
        </div>
        <button class="btn btn-default">submit</button>
    </div>
</form>
-->

<form role="form" id="login-area">

    <div id="login-area-header">
        <h1>welcome to <strong style="color:#808080;">pizza anonymous interface</strong></h1>

        <img src="http://i.imgur.com/dBNKQ.gif" />

        <h3>please enter your credentials</h3>
    </div>

    <div id="login-area-box">
        <div class="input-group login-area-box-section">
            <select class="form-control" id="login-role">
                <option value="1" selected="selected">provider</option>
                <option value="2">manager</option>
                <option value="2">admin</option>
            </select>
        </div>

        <div class="input-group login-area-box-section">
            <span class="input-group-addon">ID</span>
            <input type="text" class="form-control" id="login-id" placeholder="">
        </div>

        <div class="login-area-box-section" id="login-area-box-buttons">
            <button class="btn btn-danger"  id="login-btn-reset" >reset</button>
            <button class="btn btn-primary" id="login-btn-submit">submit</button>
        </div>
    </div>

</form>
