@{
    ViewBag.Title = "Home Page";
}

<form id="LoginBox">

    <h1>Welcome to Pizza Anonymous</h1>

    <div>
        <img src="http://i.imgur.com/dBNKQ.gif" />
    </div>

    <h2>Please enter your credentials</h2>

    <div style="margin-bottom:10px">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                data-toggle="dropdown" aria-expanded="true">
                Role
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width:200px">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">admin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">manager</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">provider</a></li>
            </ul>
        </div>
        <select>
            
        </select>
    </div>

    <div style="width:200px">
        <div class="input-group">
            <span class="input-group-addon">ID</span>
            <input type="text" class="form-control" placeholder="">
        </div>
        <button class="btn btn-default">submit</button>
    </div>
</form>
